<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>446247309333-e66pgok721q5opvg5h4muvpus5oj4vi3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.446247309333-e66pgok721q5opvg5h4muvpus5oj4vi3</string>
	<key>API_KEY</key>
	<string>AIzaSyAjDDlY3M8CgqlYR919IIuWXqk2j5nCv_4</string>
	<key>GCM_SENDER_ID</key>
	<string>446247309333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialMediaApp</string>
	<key>PROJECT_ID</key>
	<string>socialmediaapp-c4b09</string>
	<key>STORAGE_BUCKET</key>
	<string>socialmediaapp-c4b09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446247309333:ios:30f4885ced37153f4f3e1c</string>
</dict>
</plist>